@import "variables"; 

html, body {
  margin: 0;
  height: 100%;
}


.DesignGrid {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: flex-start;
  background-color: #eee;
}

.DesignItem { 
  min-width: 400px;
  flex-basis: 30%;
  margin: 10px;

  img {
    width: 100%;
  }
}

.redux-infinite-scroll {
  overflow: hidden;
}

.ImageHolder {
  width: 100%;

  img {
    max-width:100%;
    max-height: 540px;   
  }

  input[type="file"] {
    display: block;
  }
}

.TopNav {
  .Heading{
    font-weight: bold;
    display:inline-block;
    margin: 0 20px 0 0;
  }
  padding: 10px;
  background-color: $primary-color;
  ul {
    display:inline;
    text-align: center;
    list-style: none;
  }
  li {
    margin: 0 10px 0 10px;
    display: inline-block;
  }
  a {
    display:block;
    color: white;
    text-decoration: none;
  }
}

.ActiveLink {
  color: $secondary-color !important;
}